* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container 
    width: 450px;
    background: #1f1f1f;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 255, 145, 0.2);
}

h2 {
    text-align: center;
    color: #00ffaa;
    margin-bottom: 20px;
}

label {
    color: #d1d1d1;
    margin: 10px 0 5px;
    display: block;
}

textarea, input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #292929;
    color: #fff;
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button {
    width: 48%;
    padding: 10px;
    background: #00ffaa;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #00d68c;
}
